@import '../../global.scss';

#intro {
  // background-color: #546a7b;
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    .intro-img-container {
      width: 700px;
      height: 700px;
      background-color: teal;
      border-radius: 50%;
      float: right;
      display: flex;
      justify-content: center; //center in video
      align-items: flex-end;
      @include mobile {
        align-items: flex-start;
      }
      img {
        height: 90%;

        @include mobile {
          margin-top: 60px; //extra
          height: 60%;
        }
      }
    }
  }

  .right {
    flex: 0.5;
    // background-color: yellow;
    position: relative;
    .intro-text-container {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }
      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;

        @include mobile {
          font-size: 20px;
        }
        span {
          font-size: inherit;
          color: teal;
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%; //40% in video, I tried 60% for dekstop media

      .arrow-down {
        width: 60px;
        height: auto;
        color: black;
        opacity: 50%;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        // 0% {
        //   opacity: 10%;
        // }
        100% {
          opacity: 0;
        }
        // 50% {
        //   opacity: 20%;
        // }
      }
    }
  }
}
